        <img src="<?php echo $image;?>" alt="<?php echo $name;?>" width="975" height="545">
	<div class="description-box">
          <strong class="title-description"><?php echo $name;?></strong>
          <span class="description"><?php echo $description;?></span>
        </div>
        <div class="menu-pop-up_quantity" <?php if($shipping != '1') { ?>style="visibility:hidden;"<?php }?> >
          <div class="quantity">
            <a class="quantity-down decrease"></a>
            <span id="quantity"><?php echo $minimum;?></span>
            <a class="quantity-up increase"></a>
          </div>
             <button data-id="<?php echo $product_id;?>">Добавить В корзину</button>
        </div>