<div class="content-seo-text" <?php if($background_seo) { ?>style="background: url(<?php echo 'image/'.$background_seo;?>) no-repeat;" <?php }?>>
          <div class="content-size-seo">
            <div class="box-seo-text">
              <span class="title-seo"><?php echo $heading_title; ?></span>
              <div class="jcf-scrollable">
                <?php echo $text;?>
              </div>
            </div>
          </div>
</div>