<?php echo $header; ?>
<?php //echo 'Группа клиента для категории: '.$customer_group_id; ?>
<?php if( ! empty( $mfilter_json ) ) { echo '<div id="mfilter-json" style="display:none">' . base64_encode( $mfilter_json ) . '</div>'; } ?>
<div class="container page category">
	<ul class="breadcrumb">
		<?php foreach ($breadcrumbs as $i=> $breadcrumb) { ?>
			<li><?php if($i+1<count($breadcrumbs)) { ?><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a> <?php } else { ?><span><?php echo $breadcrumb['text']; ?></span><?php } ?></li>
		<?php } ?>
	</ul>
	<div class="row"><?php echo $column_left; ?>
	<?php if ($column_left && $column_right) { ?>
	<?php $class = 'col-sm-6'; ?>
	<?php } elseif ($column_left || $column_right) { ?>
	<?php $class = 'col-sm-9'; ?>
	<?php } else { ?>
	<?php $class = 'col-sm-12'; ?>
	<?php } ?>
	<div id="content" class="<?php echo $class; ?>">
		<h1><?php echo $heading_title; ?></h1><?php echo $content_top; ?>
		<div id="mfilter-content-container">
		<?php if ( $short_description && $config_catagory_product != '0') { ?>
		<div class="row">
		<?php if ($short_description) { ?>
		<div class="col-sm-12"><?php echo $short_description; ?></div>
		<?php } ?>
		</div>
		<hr>
		<?php } ?>

		<?php if ( $categories && $config_catagory_product_child != '0' ) { ?>
		<h3><?php echo $text_refine; ?></h3>
		<?php if (count($categories) <= 5) { ?>
		<div class="row">
			<div class="col-sm-3">
			<ul class="list-unstyled">
				<?php foreach ($categories as $category) { ?>
				<li><a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a></li>
				<?php } ?>
			</ul>
			</div>
		</div>
		<?php } else { ?>
		<div class="row">
			<?php foreach (array_chunk($categories, ceil(count($categories) / 4)) as $categories) { ?>
			<div class="col-sm-3">
			<ul class="list-unstyled">
				<?php foreach ($categories as $category) { ?>
				<li><a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a></li>
				<?php } ?>
			</ul>
			</div>
			<?php } ?>
		</div>
		<?php } ?>
		<?php } ?>
		<?php if ($products) { ?>
		<p><a href="<?php echo $compare; ?>" id="compare-total"><?php echo $text_compare; ?></a></p>
		<div class="row">
			<div class="col-md-4">
			<div class="btn-group hidden-xs">
				<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="<?php echo $button_list; ?>"><i class="fa fa-th-list"></i></button>
				<button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="<?php echo $button_grid; ?>"><i class="fa fa-th"></i></button>
			</div>
			</div>
			<div class="col-md-2 text-right">
			<label class="control-label" for="input-sort"><?php echo $text_sort; ?></label>
			</div>
			<div class="col-md-3 text-right">
			<select id="input-sort" class="form-control" onchange="location = this.value;">
				<?php foreach ($sorts as $sorts) { ?>
				<?php if ($sorts['value'] == $sort . '-' . $order) { ?>
					<option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
				<?php } else { ?>
					<option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
				<?php } ?>
				<?php } ?>
			</select>
			</div>
			<div class="col-md-1 text-right">
			<label class="control-label" for="input-limit"><?php echo $text_limit; ?></label>
			</div>
			<div class="col-md-2 text-right">
			<select id="input-limit" class="form-control" onchange="location = this.value;">
				<?php foreach ($limits as $limits) { ?>
				<?php if ($limits['value'] == $limit) { ?>
					<option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
				<?php } else { ?>
					<option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
				<?php } ?>
				<?php } ?>
			</select>
			</div>
		</div>
		<br>
		<div class="row product-layoutBlock" id="maincontent">
		<?php foreach ($products as $product) { ?>
			<div class="product-layout product-list col-sm-12">
			<div class="product-thumb">
				<div class="image"><?php echo $product['promotag']; ?><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a></div>
				<div>
				<div class="caption">
					<div class="h4"><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></div>
					<p><?php echo $product['short_description']; ?></p>
					<?php if ($product['rating']) { ?>
					<div class="rating">
						<?php for ($i = 1; $i <= 5; $i++) { ?>
						<?php if ($product['rating'] < $i) { ?>
							<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
						<?php } else { ?>
							<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
						<?php } ?>
						<?php } ?>
					</div>
					<?php } ?>
					<?php if ($product['price']) { ?>
					<p class="price">
						<?php if (!$product['special']) { ?>
						<?php echo $product['price']; ?>
						<?php } else { ?>
						<span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
						<?php } ?>
						<?php if ($product['tax']) { ?>
						<span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
						<?php } ?>
					</p>
					<?php } ?>
				</div>
				<div class="button-group">
					<button type="button" <?php if ( $product['quantity'] >= '1' ) { ?>onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');"<?php } ?> data-title="<?php echo $product['name']; ?>" data-target="#modal-cart"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $button_cart; ?></span></button>
					<button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-heart"></i></button>
					<button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-exchange"></i></button>
					<a href="<?php echo $product['href']; ?>" data-page="fast-review" data-title="<?php echo $product['name']; ?>" data-toggle="modal" data-target="#myModal" class="ajaxPage" class="ajaxPage"><i class="fa fa-eye"></i></a>
				</div>
				</div>
			</div>
			</div>
		<?php } ?>
		</div>
		<?php if ( !empty($pagination) ) { ?>
			<div class="row paginationBlock">
			<div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
			<div class="col-sm-6 text-right"><?php echo $results; ?></div>
			</div>
		<?php } ?>
		<?php } ?>
		<?php if ( ($thumb || $description) && $config_catagory_product_position != '0' ) { ?>
		<div class="row">
			<?php if ($thumb) { ?>
			<div class="col-sm-2"><img src="<?php echo $thumb; ?>" alt="<?php echo $heading_title; ?>" title="<?php echo $heading_title; ?>" class="img-thumbnail" /></div>
			<?php } ?>
			<?php if ($description) { ?>
			<div class="col-sm-10"><?php echo $description; ?></div>
			<?php } ?>
		</div>
		<hr>
		<?php } ?>
		<?php if (!$categories && !$products) { ?>
		<p><?php echo $text_empty; ?></p>
		<div class="buttons">
			<div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
		</div>
		<?php } ?>
		</div><?php echo $content_bottom; ?>
	</div>
	<?php echo $column_right; ?>
	</div>
</div>
<?php echo $footer; ?>
