<div class="new-pop-up">
      <span class="title-pop-up"><?php echo $heading_title;?></span>
      <div class="box-news">
          <img src="<?php echo $popup;?>" alt="<?php echo $heading_title;?>">
        <div class="jcf-scrollable">
        <?php echo $description;?>  
        </div>
        <span class="btn-news-close">Скрыть</span>
      </div>
</div>