<?php if(isset($our_team) && $our_team) { ?>
<div class="content-team">
          <div class="our_team">
            <div class="common-title">Наша команда</div>
            <div class="flipster">
              <ul>
                  <?php foreach($our_team as $team) { ?>
                    <li>
                      <div class="box-one-man">
                          <img src="<?php echo $team['image'];?>" alt="<?php echo $team['name'];?>">
                        <div class="info-one_man">
                          <span class="name"><?php echo $team['name'];?></span>
                          <span class="position"><?php echo $team['ctitle'];?></span>
                        </div>
                      </div>
                    </li>
                  <?php }?>
              </ul>
            </div>
            <!-- <div class="cursor-box">
              <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              	  viewBox="0 0 554.625 554.625" style="enable-background:new 0 0 554.625 554.625;"
              	 xml:space="preserve">
              <g>
              	<path d="M448.666,229.5c-11.475,0-21.037,3.825-28.688,9.562l0,0c0-26.775-21.037-47.812-47.812-47.812
              		c-11.475,0-22.949,3.825-32.512,11.475c-7.65-19.125-24.863-30.6-43.988-30.6c-11.475,0-21.037,3.825-28.687,9.562V95.625h133.875
              		l-61.199,61.2l15.3,15.3l86.062-86.062L354.954,0l-15.3,15.3l63.112,61.2H266.979c-3.825-21.038-22.95-38.25-45.899-38.25
              		c-26.775,0-47.812,21.038-47.812,47.812v170.212c-38.25-34.425-80.325-61.2-107.1-34.425
              		c-38.25,38.25,42.075,112.837,103.275,225.675c43.987,78.412,105.188,107.1,166.387,107.1c89.888,0,162.562-72.675,162.562-162.562
              		v-114.75C496.478,250.538,475.441,229.5,448.666,229.5z M477.353,319.388v72.675c0,74.588-65.024,143.438-143.438,143.438
              		c-72.674,0-114.749-40.162-149.174-95.625c-72.675-126.225-126.225-183.6-107.1-204.638
              		c21.037-21.037,72.675,24.863,112.837,66.938V86.062c0-15.3,13.387-28.688,28.688-28.688c15.3,0,28.688,13.388,28.688,28.688
              		v200.812h19.125v-66.938c0-15.3,13.387-28.688,28.687-28.688c15.301,0,28.688,13.388,28.688,28.688v47.812h19.125v-28.688
              		c0-15.3,13.388-28.688,28.688-28.688c15.301,0,28.688,13.388,28.688,28.688v47.812h19.125v-9.562
              		c0-15.3,13.388-28.688,28.688-28.688c15.301,0,28.688,13.388,28.688,28.688V319.388z"/>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              <g>
              </g>
              </svg>

            </div> -->
            <span class="btn-team">Стать частью команды</span>
          </div>
</div>
<?php }?>
