<div class="callback_pop-up" id="callback">
      <span class="checkout-close"></span>
      <span class="title-pop-up">Обратный звонок</span>
      <form>
        <div class="box-input">
          <input type="text" name="name" id="callback-name" value="" placeholder="<?php echo $entry_name; ?>">
        </div>
        <div class="box-input">
          <input type="tel" name="phone" id="callback-phone" value="" placeholder="<?php echo $entry_phone; ?>">
        </div>
        <div class="box-btn-input">
          <input type="button" id="callback-submit" name="button" value="<?php echo $entry_send; ?>">
        </div>
      </form>
<style>
    .error {
    border: 1px solid red !important;
    }
</style>
</div>
