<div class="callback_pop-up delivers">
      <span class="checkout-close"></span>
      <span class="title-pop-up">Условия доставки</span>
	  <div class="delivery">
		<?php echo $description;?>
	  </div>
</div>
